 #main{
                position: fixed;
                top:0px;
               padding-top: 5px;
            height:50px;
            width:1264px;
            background: white;
        }
        #r1{
            height: 40px;
            width: 100%; 
            float: left;
        }
        #c1{
            height:40px;
            width: 252px;
             
            float: left;
            background: #b31e19;
            text-align: center;
            font-size: 30px; 
            border-radius:15px;
            text-shadow:3px 0px 10px #0493f3;  
        }
        #rc1{
            height: 100%;
            width: 6.34px;
            float: left;
             
        }
        #c2{
            height: 38px;
            width:325px;
            background: white;
            float: left;
            text-align:center;
            float: left;
            border: 1px solid #050505ad;
            border-radius:15px;
        }
        #img{
            height: 95%;
            width:13%;
            float: left;
            margin-top:2px;
            margin-left: 5px;
        }
        .search-bar1{
    width: 80%;
    height:90%; 
    margin-right: 10px;
    border-radius: 19px; 
    border:0px transparent; 
     margin-top: 3px;
    font-size:20px;
        }
        #c3{
            height: 38px;
            width:404px;
            float: left;
            border: 1px solid #050505ad;
            border-radius: 15px;
            background-color: white;
        }
        
        .search-bar {
    width: 80%;
    height: 90%; 
    margin-right: 10px; 
    border-radius: 19px;
    border: 1px solid #cccccc00;
    font-size: 16px; /* Increase font size */
  }
        #c4{
            height:40px;
            width:  240px;
            float: left;
            background: #b31e19;
            text-align: center;
            font-size:23px;
            border-radius:15px; 
            
        }
        #login{
            height: 87%; 
            width:49.1% ;
            float: left;
            padding-top: 5px;
            border-right: 2px solid black;
            color: white; 
        } 
        #signup{
            height:90%; 
            width:49.2% ;
            float: left; 
           margin-top:5px;
            
           
        }

        #userdetails{

            height: 87%; 
            width:99.3% ;
            float: left;
            padding-top: 5px;
            color: white; 

        }
        
        


       .buttons{
         height:70px ;
         width: 100%;
         
       }
       .bt{
        margin-left: 30px;
        margin-top:15px;
        height: 60%;
        width:auto;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        margin-bottom:15px;
        
        }
        .bt:hover{
            transform: scale(1.1);
             
        }        

        #r2{
            
            width: 1264px;
            height:110px;
            float: left;
            
        }
        .r2space{
            height:40px;
            width: 100%;
            float:left;

        }
        a{
            text-decoration: none;
            color: #181717;
        }
        
        #Restaurant{
            height: 70px;
            margin-top: 10px; 
            width:180px ;
            padding-left: 15%;
            float:left ;
            font-size: 20px;
        }
        
        #r2c1{
            height: 50%;
            font-size: 20px;
            float:left ;
           margin-top: 13px;
        }


















        .container {
            height: 320px;
            
    width: 1264px;
     
    overflow-x: auto;
    white-space: nowrap;
    
    background-color: #f5f5f5;
  }
  .restaurant {
    display: inline-block;
    width:320px;
    height:80%;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.747); 
    background-color: #ccc;
    margin-right: 30px;
    margin-top: 15px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
     
  }
  .restaurant:hover
  {
    transform: scale(1.1);
  }





  #imgresto1{
    background-image: url(https://b.zmtcdn.com/data/collections/7771cf3a18e1da2916794d3998260c69_1709811176.png);
    background-size: cover;
  }
  #imgresto2{
    background-image: url(https://b.zmtcdn.com/data/collections/f544cc2f37e23d34ceab7dfeed45fd16_1710396552.png);
    background-size:cover ;
  }
  #imgresto3{
    background-image: url(https://b.zmtcdn.com/data/collections/fdcf90c9aadc2e4eed25bc5486653989_1709187376.png);
    background-size:cover ;
  }
  #imgresto4{
    background-image: url(https://b.zmtcdn.com/data/collections/1322e8a1ff6ae914cd70bc8ec849d20d_1709811421.png);
    background-size:cover ;
  }
  #imgresto5{
    background-image: url(https://b.zmtcdn.com/data/collections/2b9361aa328a43b08986f77bbec280bd_1709810493.png);
    background-size: cover;
  }
  #imgresto6{
    background-image: url(https://b.zmtcdn.com/data/collections/fbd237478a5d3b6ea08de83c30230cdd_1709815433.png);
    background-size:cover ;
  }
  #imgresto7{
    background-image: url(https://b.zmtcdn.com/data/collections/ce8f94a179d859d01f94c441d67ef5ad_1706256879.png);
    background-size:cover ;
  }
  #imgresto8{
    background-image: url(https://b.zmtcdn.com/data/collections/f123375fee94c32136696c2af1e25a28_1709812029.png);
    background-size:cover ;
  }





  #restodetails1{
    height:30%;
    color: white;
    font-size:23px;
    text-shadow: 2px 2px 10px #181717; 
     text-align: center; 
     
    border-radius: 10px;
    background-color: rgba(136, 115, 115, 0.322);
}
 



  
  #restoimg{
    height: 69%;
  }




#restodetails{
    height:30%;
    color: white;
    font-size:16px;
    text-shadow: 2px 2px 10px #181717; 
      
     
    border-radius: 10px;
    background-color: rgba(136, 115, 115, 0.322);
}
 


#detail{
    margin-top:5px ;
    height: 45%;
    width: 100%;
    float: inline-start; 
     
}
#name{
    width: 55%;
    height: 100%;
    margin-left: 10px;
    float: left;
    font-size: 20px;
    text-align: left;
} 
#rating{
    width:35%;
    height: 100%;
    text-align: right; 
    margin-right: 10px; 
    float: left;
}
#details2{
    height: 55%;
    width: 100%;
    
    float: inline-start; 
    
}

#addres{
    width: 50%;
    height: 100%;
    margin-left:10px;
    float: left;
    text-align: left;
} 
#price{
    width: 40%;
    height: 50%;
    text-align: right; 
    float: left;
    margin-right: 10px;
}
#status{
    width: 40%;
    height:50%;
    text-align: right;
    float: left;
    margin-right: 10px;
}

#status1{
    width: 40%;
    height:50%;
    text-align: right;
    float: left;
    margin-right: 10px;
    
    background-color: rgba(39, 35, 35, 0.363);
}
 
.imgbt{
    background-color: rgb(35, 212, 35);
    border-radius:  10px;
    border:0px black;
    
}




.off{
    
    height: 250px;
    width: 100%;
    background-image: url(https://b.zmtcdn.com/data/o2_assets/da94405b04f6ae6bf64a4e2a01b1b5c11686563732.png);
    background-size: cover;
    border-radius: 10px;

}




        .r4{
            
            height:1300px;
            width:1264px;
            background-color: rgb(245, 242, 241);
             
            
        }
        #h1{
            font-size:25px;
            color: black;
            margin-left: 20px;
            background-color: #ffffff3a; 
        }
        
        #h1:hover{
            color:orangered;
        }

        .r4c1{
            
    width:30%;
    height: 300px;
    float: left; 
    background-color: #ccc;
    margin-left: 35px; 
    
    border-radius: 10px;
    box-shadow:15px 15px 8px #0f0f0fd2; 
    cursor: pointer;
     margin-top:40px;
  }
  .r4c1:hover {
    transform: scale(1.1);
  }



  


         
        #r4img1{
            background-image: url(https://b.zmtcdn.com/data/pictures/9/18843699/fb66205bef846cabc8e0fcfdfabfaac5_featured_v2.jpg?output-format=webp);
            background-size:cover ;   

        }
        #r4img2{
            background-image: url(https://b.zmtcdn.com/data/pictures/9/20385689/164eaec271985f8c5639255084b1a5f2_featured_v2.jpg?output-format=webp);
            background-size:cover ;
        }
        #r4img3{
            background-image: url(https://b.zmtcdn.com/data/pictures/4/20790444/8f8f42f073040a4a247ce86447cf0746_featured_v2.jpg?output-format=webp);
            background-size:cover ;
        }
        #r4img4{
            background-image: url(https://b.zmtcdn.com/data/pictures/6/18871246/142b31a34d69a83db79fc0a7f9a90a56_featured_v2.jpg?output-format=webp);
            background-size:cover ;
        }
        #r4img5{
            background-image: url(https://b.zmtcdn.com/data/pictures/0/20540040/04ac68e98bd062fbaf9b66af8d233094_featured_v2.jpg?output-format=webp);
            background-size:cover ;
        }
        #r4img6{
            background-image: url(https://b.zmtcdn.com/data/pictures/9/20494049/82bd8edf1b05adf0cb92dedc7766e8cc_featured_v2.jpg?output-format=webp);
            background-size:cover ;
        }
        #r4img7{
            background-image: url(https://b.zmtcdn.com/data/pictures/chains/3/20210803/e16f5cc037dd4a5e6a5b7feaa1bd53cd_featured_v2.jpg);
            background-size:cover ;
        }       
        #r4img8{
            background-image: url(https://b.zmtcdn.com/data/pictures/0/20669940/63f06decab6708ced4e4476b62e4b2e7_featured_v2.jpg);
            background-size:cover ;
        }
        #r4img9{
            background-image: url(https://b.zmtcdn.com/data/pictures/8/21027258/0c13b08ff699529883167f4de07a7ea2_featured_v2.jpg);
            background-size:cover ;
        }

    .footer{
        height:300px;
        width:1264px;
        background: #b1acac56; 
    }   
    

    .r5r1{
        width:100%;
    height: 100px ;
    float: left; 
    
     
    }
    
    .zomato{
        height:100px;
        width:61.8%;
        
        float: left;
        
        font-size:80px;
         color: #181717;
         margin-left:51px;
          
    }
    #zomatobt{
         height: 70px;
         width: 17%;
         float: left;
         
         margin-top:17px;
          
    }
    .country {
        height: 35px;
         width:50%;
         float: inline-end;
         margin-top: 10px;
         margin-right: 30PX; 
         font-size: 20px;
         text-align: center;
         border-radius: 80px;
         
    }
    .language{
        height:35px;
         width: 70% ;
         float: left;
         margin-top: 10px;
         text-align: center;
         font-size: 20px;
         border-radius: 100px;
    }
    .language:hover{
        transform: scale(1.1);
    }

    .country:hover{
        transform: scale(1.1);
    }


   


    footer{
        width:1264px;
    height:300px ;
    float: left; 
     
     
    }
    #r5col{
        height:200px;
        width: 18%;
        float:inline-start;
        text-align: center;
       margin-left:18px;
      font-style: normal;
      font-size:18px;
    }
    #r5col2{
        height: 100%;
        width: 1%;
        float:inline-start;
      
    }
    
    .nested{
        background: #ee6e06ef;
        color: #181717;
    }



    .userinfo{
        border: 0px solid white ;
    }
       
        
